@import url('https://fonts.googleapis.com/css2?family=Rubik+Marker+Hatch&display=swap');

.pseudo-elements {
    width: 100px;
    height: 100px;
    background: red;
}

/* pseudo elemek: */
.pseudo-elements::before {
    content: " ";
    position: absolute;
    width: 50px;
    height: 50px;
    background: green;
}

.pseudo-elements::after {
    content: " ";
    position: absolute;
    top: 130px;
    left: 58px;
    width: 50px;
    height: 50px;
    background: blue;
}

p:nth-child(6)::first-line {
    background: yellow;
}

p:nth-child(6)::first-letter {
    font-size: 200%;
}

::marker {
    color: rgb(8, 88, 32);
}

/* szöveg formázás */
p:first-of-type {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: red;
    text-align: right;
    text-decoration: overline underline line-through;
    text-transform: capitalize;
    /*első sor behúzás: */
    text-indent: 100px;
    letter-spacing: 10px;
    line-height: 200%;
    direction: rtl;
}

p:nth-child(4) {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    color: blue;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-transform: lowercase;
    /*első sor behúzás: */
    text-indent: -30px;
    letter-spacing: -2px;
    line-height: 70%;
    direction: ltr;
}

p:nth-child(5) {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    font-weight: 700;
    color: orange;
    text-align: justify;
    text-align-last: right;
    text-decoration: overline;
    text-decoration-color: brown;
    text-decoration-style: dotted;
    text-decoration-thickness: 3px;
    text-transform: uppercase;
    /*első sor behúzás: */
    text-indent: 50px;
    letter-spacing: 5px;
    line-height: 150%;
}

p:nth-child(8) {
    font-size: 20px;
    font-variant: small-caps;
}


/* Gogle fonts imported in html:  */
p:nth-child(9) {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

p:nth-child(9)::first-letter {
    font-size: 200%;
    font-weight: bold;
}

/* Gogle fonts imported in css:  */
p:nth-child(10) {
    font-family: 'Rubik Marker Hatch', cursive;
    font-size: 30px;
    text-align: justify;
}